body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
}

#main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    justify-content: center;
    margin: 20px;
    padding: 15px;
    border-radius: 10px;
    width: 50vw;
}

form {
    display: flex;
    flex-direction: column;
}

#time {
    display: flex;
    flex-direction: row;
    width: 80vw;
}
