body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
}

#main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    justify-content: center;
    margin: 20px;
    padding: 15px;
    border-radius: 10px;
    width: 50vw;
}

form {
    display: flex;
    flex-direction: column;
}

#time {
    display: flex;
    flex-direction: row;
    width: 80vw;
}

#days {
    display: flex;
    flex-direction: column;
}

#days input {
    width: 20px;
}

.class_ input {
    width: 20px;
}

#canvas {
    display: block;
}

body {
    margin: 0;
}

/* Header */

:root {
    --header-color: #1F2016;
    --header-text: #E2E3C5;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 15px;
    margin: 0px 0px 15px 0px;
    background-color: var(--header-color);
    color: var(--header-text);
}

header a {
    text-decoration: none;
    color: var(--header-text);
}