:root {
    --button-down: grey;
    --button: rgb(180, 180, 180);
    --button-border: rgb(214, 214, 214);
    --header-color: #1F2016;
    --header-text: #E2E3C5;
}

body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
}

#main, #share-link-main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    justify-content: center;
    margin: 20px;
    padding: 15px;
    border-radius: 10px;
    width: 50vw;
}

#search_form {
    padding-left: 0.5vw;
    padding-right: 0.5vw;
    display: flex;
    flex-direction: column;
}

#time {
    display: flex;
    flex-direction: row;
    width: 80vw;
}

#days {
    display: flex;
    flex-direction: column;
}

#days input {
    width: 20px;
}


/* Style check + label as a button */
.class_ input {
    display: none;
}

.class_ label 
{
    display: inline-block;
    border: solid 5px var(--button-border);
    border-radius: 10px;
    background-color: var(--button);
    padding: 3px;
    margin: 3px;
}

/* Style label based on if adjacent checkbox is selected */
.class_ input:checked ~ label 
{
    background-color: var(--button-down);
}

/* Style canvas & body? */

#canvas {
    display: block;
}

body {
    margin: 0;
}

/* Header & footer */

header,
footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 15px;
    margin: 0px 0px 15px 0px;
    background-color: var(--header-color);
    color: var(--header-text);
}

header a {
    text-decoration: none;
    color: var(--header-text);
}

footer {
    margin-top: 2vh;
    margin-bottom: 0;
}

/* Term tri-select feature css */

#term-selector {
    display: flex;
    flex-direction: row;
}

/* Style label to be a button */
.term label {
    display: inline-block;
    border: solid 5px var(--button-border);
    border-radius: 10px;
    background-color: var(--button);
    padding: 3px;
    margin: 3px;
}

/* Style label adjacent to invisible checkbox to change colour based on checkmark */
.term input:checked ~ label 
{
    background-color: var(--button-down);
}

.term-radio 
{
    display: none;
}

/* Contribute page */

#contribute {
    padding: 20px;
}

#contribute a {
    text-decoration: none;
    text-decoration-color: blue;
    color: blue;
}

#contribute a:hover {
    text-decoration:underline;
    text-decoration-color: red;
}
